<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 字体图标样式文件 -->
    <link rel="stylesheet" href="./assets/fa/css/font-awesome.css">
    <!-- mui样式文件 -->
    <link rel="stylesheet" href="./assets/mui/css/mui.css">
    <!-- 公共样式文件 -->
    <link rel="stylesheet" href="./css/common.css">
    <!-- 当前页样式文件 -->
    <link rel="stylesheet" href="./css/cart.css">
    <title>购物车页面</title>
</head>

<body>
    <div class="layout">
        <div class="lt_header">
            <a href="javascript:history.back()" class="lt_hleft  fa fa-arrow-left"></a>
            <div class="lt_hcenter">购物车</div>
            <a href="./letao_index.html" class="lt_hright fa fa-refresh"></a>
        </div>
        <div class="lt_main">
            <!-- 同志们，这个lt_parent的作用就是用来限制mui-scroll-wrapper的高度范围 -->
            <div class="lt_parent">
                <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
                    <div class="mui-scroll" style="background-color: #fff;">
                        <ul id="OA_task_2" class="mui-table-view">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lt_footer">
            <ul>
                <li>
                    <a href="./letao_index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="./category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:;">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="fa fa-user"></span>
                        <p>个人中心</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/template" id="catListTemp">
    <% for(var i=0;i< list.length;i++){ %>
        <li class="mui-table-view-cell mui-transitioning">
                <div class="mui-slider-right mui-disabled">
                    <a class="mui-btn mui-btn-blue lt_cartEditBtn" data-productSize="<%=list[i].productSize%>" data-productNum="<%=list[i].productNum%>" data-size="<%=list[i].size%>" data-num="<%=list[i].num%>" data-id="<%=list[i].id%>">编辑</a>
                    <a class="mui-btn mui-btn-red">删除</a>
                </div>
                <div class="mui-slider-handle">
                    <a class="mui-navigate-right">
                        <img class="mui-media-object mui-pull-left" src="<%=list[i].pic[0].picAddr%>">
                        <div class="mui-media-body">
                            <p class="mui-ellipsis-2"><%=list[i].proName%></p>
                            <p>
                                <span>&yen;<%=list[i].price%></span>
                                <del>&yen;<%=list[i].oldPrice%></del>
                                <span class="lt_editNum">x <%=list[i].num%>双</span>
                            </p>
                            <p class="lt_editSize">鞋码：<%=list[i].size%></p>
                            <input type="checkbox">
                        </div>
                    </a>
                </div>
            </li>
    <% }%>
</script>
<!-- {productsize: "40-50", productnum: "20", size: "40", num: "1"} -->
    <script type="text/template" id="cartEditTemp">
    <div class="lt_size">
        尺码：
        <% 
            var numArr = productsize.split("-");
            var start = numArr[0];
            var end = numArr[1];
            for(var i=start;i<=end;i++){ %>
                <span class="<%=i==size?'active':''%>"><%=i%></span>
            <% }
        %>
    </div>
    <div class="lt_num">数量：
        <div class="mui-numbox" data-numbox-min="1" data-numbox-max="<%=productnum%>">
            <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
            <input id="test" class="mui-input-numbox" type="number" value="<%=num%>">
            <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
        </div>
    </div>
</script>
    <script src="./assets/mui/js/mui.js"></script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/cart.js"></script>
</body>

</html>