<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 字体图标样式文件 -->
    <link rel="stylesheet" href="./assets/fa/css/font-awesome.css">
    <!-- mui样式文件 -->
    <link rel="stylesheet" href="./assets/mui/css/mui.css">
    <!-- 公共样式文件 -->
    <link rel="stylesheet" href="./css/common.css">
    <!-- 当前页样式文件 -->
    <link rel="stylesheet" href="./css/category.css">
    <title>Document</title>
</head>

<body>
    <div class="layout">
        <div class="lt_header">
            <span class="lt_hleft fa fa-arrow-left"></span>
            <div class="lt_hcenter">
                <form action="">
                    <input type="text" name="" id="">
                </form>
            </div>
            <span class="lt_hright fa fa-search"></span>
        </div>
        <div class="lt_main">
            <div class="lt_clef">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                       <ul>

                       </ul>
                    </div>
                </div>
            </div>
            <div class="lt_cright">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lt_footer">
            <ul>
                <li>
                    <a href="./letao_index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li class="active">
                    <a href="./category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="fa fa-user"></span>
                        <p>个人中心</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 一级分类数据模板 -->
    <script type="text/template" id="firstCategoryTemp">
        <% for(var i=0;i< rows.length;i++){ %>
            <li class="<%=i==0?'active':''%>">
                <a href="javascript:;" data-id="<%=rows[i].id%>"><%=rows[i].categoryName%></a>
            </li>
        <% }%>
    </script>
    <!-- 二级分类数据模板 -->
    <script type="text/template" id="secondCategoryTemp">
        <% if(total == 0){ %>
            <span>没有任何的二级分类数据</span>
        <%} else{ %>
            <% for(var i=0;i< rows.length;i++){ %>
                <li>
                    <a href="javascript:;">
                        <img src="<%= rows[i].brandLogo%>" alt="">
                        <p><%= rows[i].brandName%></p>
                    </a>
                </li>
            <% }%>
        <%}%>
    </script>
    <script src="./assets/mui/js/mui.js"></script>
    <!-- 移动端的jq -->
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-native.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/category.js"></script>
</body>

</html>