// 公共样式
html,body{
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 320px;
}
*{
    padding: 0;
    margin: 0;
}
.layout{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    // 1.顶部样式块
    .lt_header{
        width: 100%;
        height: 45px;
        background-color: #1a70a6;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        font-weight: bold;

        > .lt_hleft,.lt_hright{
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            line-height: 45px;
            color: #fff;
        }
        .lt_hleft{
            left: 0;
        }
        > .lt_hcenter{
            width: 100%;
            height: 100%;
            padding: 0px 45px;
            > form{
                // padding-top: 6px;
                margin-top: -3px;
                > input{
                    height: 30px;
                    margin-bottom: 0;
                    color: #666;
                }
            }
        }
        > .lt_hright{
            right: 0;
        }
    }

    // 2.产品列表样式块
    .lt_main{
        width: 100%;
        height: 100%;
        padding: 45px 0;
        .lt_parent{
            width: 100%;
            height: 100%;
            position: relative;
            .lt_mproduct{
                padding: 10px;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > li {
                        width: 48%;
                        box-shadow: 0px 0px 2px #aaa;
                        padding-bottom: 5px;
                        margin-top: 10px;
                        > a{
                            width: 100%;
                            display: block;
                            text-align: center;
                            > img{
                                width: 100%;
                                display: block;
                            }
                            span{
                                color: red;
                                font-size: 15px;
                            }
                            del{
                                color: #ccc;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }


    // 3.底部样式块
    .lt_footer{
        width: 100%;
        height: 45px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #1a70a6;
        ul {
            width: 100%;
            display: flex;
            list-style: none;
            > li {
                width: 25%;
                text-align: center;
                padding-top: 3px;
                box-sizing: border-box;
                > a{
                  color: #fff;
                  > p {
                     color: #fff; 
                     margin-bottom: 0;
                  }
                }
                &.active{
                    > a{
                        color: hsl(30,100%,50%);
                        > p {
                            color: hsl(30,100%,50%);
                        }
                    }
                }
            }
        }
    }
}